$colors: (#{'blue'}: #5196A6,
   blue-l: #91D7F2,
   blue-g: #BFCDD9,
   #{'red'}: #F2594B,
   red-l: #FF5141,
   red-d: #A63C3C,
   #{'pink'}: #D9325E,
   pink-l: #F22E62,
   pink-d: #BF2C47,
   #{'white'}: hsl(191, 18%, 99%),
   gray-d: hsl(191, 18%, 24%),
   gray-l: hsl(191, 18%, 84%),
   gray-vl: hsl(0, 0%, 93%),
   gray-t: rgba(255, 252, 252, 0.89),
   dark: #333,
   gray-dt: rgba(255, 252, 252, 0.59),
   gray-dtt: rgba(255, 252, 252, 0.19),
   )