$family: (
   normal: #{'Poppins','Work Sans'},
   heading: 'Ubuntu',
   round: 'Urbanist',
   emoji: #{"Noto Emoji", "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort},
   e: #{"Segoe UI Emoji", "Apple Color Emoji", "Noto Emoji", "Noto Color Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort},
);

$weights: (
   thin: 300,
   normal: normal,
   bold: 700
);

$sizes: (
   normal: 1rem,

   tiny: clamp(0.7rem, 0.8rem + 2%, 0.9rem),
   small: clamp(0.85rem, 0.8rem + 4%, 1rem),
   m-medium: clamp(0.9rem, 0.9rem + 2%, 1.1rem),
   medium: clamp(1rem, 1rem + 3%, 1.3rem),
   m-big: clamp(1.2rem, 1.2rem + 3%, 1.5rem),
   a-big: clamp(1.3rem, 1.3rem + 4%, 1.7rem),
   big: clamp(1.5rem, 1.5rem + 2vw, 2rem),
   bigger: clamp(1.8rem, 1.8rem + 2vw, 2.3rem),
   large: clamp(2rem, 2rem + 5vmax, 3.5rem),
);

$spacings: (
   normal: normal,
   small: 0.9px,
   medium: 1.5px,
   big: 3px,
   large: 5px,
);