$widths: (
   body: min(90vw, 1200px),
   search: min(90vw, 400px),
   logo: min(20vw, 80px),
   form: min(95vw, 450px),
   full: 100%,
   fit: fit-content,
   min: min-content,
   max: max-content,
)